<div class="main">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive artist-photo" src="assets/img/Lauren.jpg">
		</div>
		<div class="col-md-6">
			<h2>About</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id dictum odio, non elementum risus. Aenean in enim massa. Donec laoreet mi ex, vel pharetra leo fringilla a. Mauris vestibulum nunc nisl, eu vehicula tellus malesuada id. In vitae purus gravida libero iaculis eleifend sit amet a lorem. Aliquam erat volutpat. Aliquam ac nulla quis tellus euismod lacinia aliquet eu felis. Fusce id purus ut massa sollicitudin aliquet. Phasellus vitae tincidunt turpis, non suscipit nibh. Proin consectetur eros odio, ac convallis neque feugiat eget. Morbi iaculis nisi vel felis ullamcorper, eget condimentum purus facilisis. Etiam ut massa dignissim, elementum orci finibus, eleifend sem.</p>			
		</div>
	</div>
</div>