html, body {
  	background: #0B071F;
  	font-family: 'Fauna One', serif;
	font-variant: small-caps;
  	margin: 0;
  	padding: 0;
}

.container, a {
	color: #0B071F;	
}

.header, .footer {
	margin-left: -30px;
	margin-right: -30px;
}

a:hover, .header nav > ul > li:hover, a:hover * {
	color: #3b23ae;
	text-decoration: none;
	background-color: #c5cef9;
}

.container {
	min-height: 100vh;
	padding-left: 30px;
	padding-right: 30px;
	background: white;
}

.header {
	height: 85px;
	border-bottom: 1px dotted;
}

.logo {
	float: left;
	margin: 0px;
	padding-left: 30px;
	padding-top: 15px;
}
	.logo * {
		display: block;
	}

	.logo a {
		font-size: 40px;
		font-weight: bold;
		color: #3b23ae;
		font-family: 'Raleway', sans-serif;
		line-height: 40px;
		margin-top: -15px;
	}

	.logo p {
		line-height: 20px;
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 0px;
		padding-left: 10px;
	}

.header nav {
	height: 60px;
	position: relative;
}

.header nav ul {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
}

.header nav > ul > li {
	display: inline;
	font-size: 20px;
	margin-right: 20px;
}

li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
    padding:0px 70px;
	margin-top: -5px;    
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
}

.sub-menu li {
    display:block;
    font-size:16px;
    background: white;
    width: 100px;
}

.sub-menu li a {
    display:block;
}

h2 {
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.item {
	padding-top: 15px;
	padding-bottom: 15px;	
}

.item img {
	border: 1px solid black;
}

.gallery-name {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-top: -10px;
}

.artist-photo {
	margin-top: 25px;
	margin-bottom: 25px;
}

.about p {
	margin: 0px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-variant: normal;
	font-weight: 400;
}

.img-responsive {
	max-height: 80vh;
	margin-top: 30px;
}


.footer {
	border-top: 1px dotted;
	padding-top: 5px;
}

.footer p {
	padding-left: 30px;
}

.footer nav ul {
	position: absolute;
	right: 0px;
	padding-right: 25px;
}

.footer nav ul li {
	display: inline;
}

.pointer {
    cursor: pointer;
}

.overlay-backdrop, .overlay {
	position: absolute;	
	top: 0;
	left: 0;
	position: fixed;
}

.overlay-backdrop {
	height: 100%;
	width: 100vw;
	z-index: 9999;
	opacity: 0.8;
	background-color: black;
}

.overlay {
	z-index: 10000;
	color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 100vh;
}

.overlay > div, .overlay .close, .overlay .arrow {
	position: absolute;
}

.overlay .close, .overlay .arrow {
	font-size: 30px;
	color: #fff;
	text-shadow: 2px 0 #000;
	opacity: 1.0;
}

.overlay .close {
	right: 8px;
}

.overlay .close:hover {
	background-color: transparent;
}

.overlay .arrow {
    top: 45%;
}

.overlay .left {
	left: 0;
}

.overlay .right {
	right: 0;
}

.showpiece-image {
	top:35px;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
}

.overlay p {
	margin: 0px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 2px 0 #000;
}

.overlay > div {
	bottom: 0px;
	margin-left: 15px;
	margin-bottom: 15px;
}

#email, #subject, #message {
	width: 90%
}

.contact-form {
	min-height: 50vh;
}

fieldset {
	padding: 1px;
}

.overlay-spacer {
	min-width: 100px;
}

.overlay-main {
	display: block
}

.overlay-main img {
	width: 100%;
}

.overlay-main :not(img)  {
	margin-right: 15px;
	margin-left: 15px;
}